name: docker_publish

on:
  push:
    branches:
    - '*'
    tags:
    - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker_indexer_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.14.5
    secrets: inherit
    with:
      publish: true
      dockerfile: ./contrib/images/liquidation-aave-indexer/Dockerfile
      repoName: liquidation-aave-indexer

  docker_client_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.14.5
    secrets: inherit
    with:
      publish: true
      dockerfile: ./contrib/images/liquidation-aave-client/Dockerfile
      repoName: liquidation-aave-client
